.datatable-responsive {
  margin-top: 2rem;
}

.datatable-responsive table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.datatable-responsive table thead {
  background-color: #f9fafb;
  color: #374151;
}

.datatable-responsive table thead tr th {
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  color: #374151;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
  text-align: left;
  transition: box-shadow 0.2s;
}

.datatable-responsive table thead tr th:first-child {
  border-left: 1px solid #e5e7eb;
}

.datatable-responsive table tbody tr {
  border-bottom: 1px solid #e5e7eb;
}

.datatable-responsive table tbody tr:last-child {
  border-bottom: none;
}

.datatable-responsive table tbody td {
  color: #4b5563;
  font-size: 1.3rem;
  padding: 1rem;
}

.datatable-responsive table tbody tr:nth-child(even) {
  background-color: #859fff14;
}

.datatable-responsive table tbody tr:hover {
  background-color: #edf2f7;
}

.go_back_button {
  margin-top: 5rem;
}

.p-datatable-header {
  text-align: right;
  margin-bottom: 3rem;
}

.p-column-title {
  margin-right: 0.3rem;
}

.p-input-icon-left {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.pi-search {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.p-inputtext {
  line-height: 0.9;
}

.p-sortable-column-icon {
  height: 1.2rem;
  width: 1.2rem;
}

.p-dropdown-items {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}