.datatable-responsive {
  margin-top: 2rem;
}

.datatable-responsive table {
  background-color: #fbfbfb;
  border-collapse: collapse;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.datatable-responsive table thead {
  background-color: #f9fafb;
  color: #374151;
}

.datatable-responsive table thead tr th {
  background: #fbfbfb;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #374151;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
  text-align: left;
  transition: box-shadow 0.2s;
}

.datatable-responsive table thead tr th:first-child {
  border-left: 1px solid transparent;
}

.datatable-responsive table tbody tr {
  background-color: #fbfbfb;
  border-bottom: 1px solid transparent;
}

.datatable-responsive table tbody tr:last-child {
  border-bottom: none;
}

.datatable-responsive table tbody td {
  color: #4b5563;
  font-size: 1.3rem;
  padding: 2rem 1rem;
}

.datatable-responsive table tbody tr:hover {
  background-color: #edf2f7;
}

.p-datatable-table {
  min-width: 123rem;
  overflow-x: auto;
}

.go_back_button {
  margin-top: 5rem;
}

.p-datatable-header {
  border: none;
  margin-bottom: 3rem;
  text-align: right;
}

.p-column-title {
  margin-right: 0.3rem;
}

.p-input-icon-left {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
}

.pi-search {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.p-inputtext {
  line-height: 0.9;
}

.p-input-icon-left input {
  background-color: transparent;
  width: 20rem;
}

.p-input-icon-left input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.p-sortable-column-icon {
  height: 1.2rem;
  width: 1.2rem;
}

.p-dropdown-label,
.p-dropdown-trigger {
  background-color: transparent;
}

.p-dropdown-items {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.p-paginator,
.p-datatable-header {
  background-color: #fbfbfb;
}
