:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/***** SET UP A BASIC RESET *****/
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fbfbfb;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 1.5rem;
  width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input:focus-visible {
  outline: 2px solid #1675e0 !important;
  outline-offset: 2px;
}

input:placeholder {
  color: #aba7af !important;
  font-weight: 300 !important;
}
