.datatable-responsive {
  margin-top: 5rem;
}

.datatable-responsive table {
  border-collapse: collapse;
  width: 100%;
}

.datatable-responsive table thead {
  background-color: #f9fafb;
  color: #374151;
}

.datatable-responsive table thead tr th {
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
  text-align: left;
  transition: box-shadow 0.2s;
}

.datatable-responsive table tbody tr {
  border-bottom: 1px solid #e5e7eb;
}

.datatable-responsive table tbody tr:last-child {
  border-bottom: none;
}

.datatable-responsive table tbody td {
  color: #4b5563;
  font-size: 1.3rem;
  padding: 1rem;
}

.datatable-responsive table tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

.datatable-responsive table tbody tr:hover {
  background-color: #edf2f7;
}